

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-primary: white;
    --background-tertiary: #dbeafe;
    --background-muted: #f8fafc;

    --color-primary: #030615;
    --color-link: #2563eb;
    --color-link-transparent: rgba(37, 99, 235, 0.1);

    --color-highlight: #fef9c3;

    --gradient-start: #9c89fc;
    --gradient-end: #9c89fc;

    --border-primary: #f1f5f9;
    --border-secondary: #373737;
    --border-highlight: #999999;

    --padding-small: 1rem;
    --padding-large: 2rem;

    --border-radius-small: 0.5rem;
    --border-radius-large: 0.75rem;
    --highlight-border-radius: 0.5rem;

    /* for clock color and time */
    --clock-color:light;
    --time-color:black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #191d2c;
        --background-secondary: #0e101e;
        --background-tertiary: #121424;
        --background-muted: #1a1e32;

        --color-primary: white;
        --color-link: #60a5fa;
        --color-link-transparent: rgba(37, 99, 235, 0.1);

        --color-highlight: #fef9c3;

        --gradient-start: #9c89fc;
        --gradient-end: #9c89fc;


        --border-primary: #29325b;
        --border-secondary: #323c71;
        --border-highlight: #4649af;

        --padding-small: 1rem;
        --padding-large: 2rem;

        --border-radius-small: 0.5rem;
        --border-radius-large: 0.75rem;
        --highlight-border-radius: 0.5rem;


        /* for clock color  */
        --clock-color:dark;
        --time-color:#ff0000;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Eczar", serif;
}

body, #root{
    background: var(--background-primary);
    color: var(--color-primary);
    font-size: 0.9rem;
    line-height: 1.6rem;
    
}


#root{
    /* max-width: 1200px; */
    width: 100vh;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    text-align: center;
}

/* Special */
.text-gradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, var(--gradient-start) 0, var(--gradient-end) 100%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Grenze", serif;
    width: fit-content;
}

h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

p {
    display: block;
    width: fit-content;
}

span {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: var(--color-link);
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
}


button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
    cursor: pointer;
}

button {
    color: var(--color-primary);
    background-color: var(--background-gradient);
    width: fit-content;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 0.25rem 1.25rem;
    border: 1.5px solid var(--border-secondary);
    border-radius: var(--border-radius-small);
    box-shadow: 2px 2px 0 0 var(--border-secondary);
    transition-duration: 200ms;
}

button:hover {
    box-shadow: 0 0 0 0 var(--border-secondary);
    transform: translate(2px, 2px);
}

button[disabled]:hover {
    box-shadow: 2px 2px 0 0 var(--border-secondary);
    transform: translate(0, 0);
}

button:disabled,
button[disabled] {
    border: 1.5px solid var(--border-secondary);
    cursor: initial;
    opacity: 0.55;
}

label {
    display: block;
    max-width: fit-content;
    font-weight: 500;
}

input,
textarea,
select {
    font-size: 1em;
    background-color: var(--background-muted);
    border: 1px solid var(--border-secondary);
    color: var(--color-primary);
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius-small);
    width: 100%;
    /* max-width: fit-content; */
    outline: none;
    appearance: none;
}

input:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

input[type="checkbox"] {
    padding: 0.5rem;
    width: fit-content;
    vertical-align: middle;
    position: relative;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
    border-radius: 7px;
    margin-left: 0;
    appearance: none;
    cursor: pointer;

}


input[type="checkbox"]:checked {
    background: var(--border-secondary);
}

/* Create the checkmark using ::after pseudo-element */
input[type="checkbox"]:checked::after {
    content: '✓'; /* Unicode checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(61, 255, 78);
    font-size: 14px;
    font-weight: bold;
}

/* create a small triangle and shows only right and bottom borders, then rotates it 45deg */
/* input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */

.help-text {
    font-size: 0.87rem;
    color: var(--color-muted, #e78080);
    margin-top: 0.25rem;
}

fieldset:focus-within,
input:focus-within,
textarea:focus-within,
select:focus-within {
    border-color: var(--border-highlight);
}

fieldset:hover,
input:hover,
textarea:hover,
select:hover {
    border-color: var(--border-highlight);
}

@media (min-width: 640px) {
    body {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    h5 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    h6 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    button {
        width: fit-content;
    }

    input {
        max-width: 600px;
    }
}